/* Note to students:

Some properties are given to you to fill out,
others you can modify as they stand, and if you have time,
there are definitely some properties you should add!
*/

html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: helvetica;
}

a {
  color: navy ;
}

header {
  padding: 10px;
  background: dark grey;
  color: ;
  text-shadow: 1px 1px 1px #000;
  text-align: center;
}

nav {
  background-color: red;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 20px;
  font-size: 24px;
}

section {
  width: 95%;
  margin: 0 auto;
  padding: 5px;
  min-height: 800px;
  text-align: center;
}


#img {
  width: 55%;
  height: 55%;
}

section img {
  margin-top: 100px;
}

footer {
  clear: left;
  padding: 10px;
  background: yellow ;
  text-align: center ;
}
